@font-face {
  font-family: 'Mona Sans';
  src:
    url(/Mona-Sans.woff2) format('woff2 supports variations'),
    url(/Mona-Sans.woff2) format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

html {
  font-family: 'Mona Sans';
}

body {
  margin: 0;
  padding: 0;
  /* background-color: #070707;
  opacity: 0.8;
  background-image: linear-gradient(#141414 1px, transparent 1px), 
                    linear-gradient(to right, #141414 1px, #070707 1px),
                    linear-gradient(#1A120B, #423F3E);
  background-size: 20px 20px; */
  background-image: linear-gradient(
                                    rgba(2, 2, 2, 0.98),
                                    rgba(5, 4, 4, 0.98),
                                    rgba(0, 0, 0, 0.88)),
                                    url('../../public/grid_pattern.png');
  background-color: #070707;
  height: 100vh;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 8rem;
}

.main-title {
  font-size: 4rem;
  background: -webkit-linear-gradient(89deg, #BA32D0 0%, #32A1D0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.main-button {
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  background: linear-gradient(135deg, #BA32D0 0%, #32A1D0 100%);
  border-radius: 5px;
  backdrop-filter: blur(16px);
  text-decoration: none;
  color: black;
  font-weight: 600;
  margin: 3rem;
}

.main-button:hover {
  box-shadow: 0 0 8px #BA32D0, 0 0 8px #32A1D0;
}

.main-text {
  font-size: 2rem;
  background: linear-gradient(90deg, rgba(230, 230, 230, 0.24) 0%, #E6E6E6 50%, rgba(230, 230, 230, 0.24) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 0.5rem;
  text-align: center;
}

.secondary-text {
  font-size: 1rem;
  margin: 0 1rem 5rem 0;
  color: white;
  text-align: center;
  margin-bottom: 0;
}

.main-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;;
}