@font-face {
  font-family: "Mona Sans";
  font-weight: 200 900;
  font-stretch: 75% 125%;
  src:
    url("/Mona-Sans.woff2") format("woff2 supports variations"),
    url("/Mona-Sans.woff2") format("woff2-variations");
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;

  font-family: "Mona Sans", sans-serif;

  background-color: #070707;
  background-image:
    radial-gradient(50% 18.75% at 50% 105.09%, #271929de 0%, #070707f8 100%),
    url("/grid_pattern.png");
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;

  margin: 0;
  padding: 0;
}

.main-title {
  margin: 0;
  padding: 0;

  font-size: 4rem;
  text-align: center;

  background: linear-gradient(89deg, #ba32d0 0%, #32a1d0 100%);
  background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;
}

.main-button {
  width: 8rem;
  padding: 0.5rem 1rem;

  font-size: large;
  font-weight: 500;
  color: black;
  text-align: center;
  text-decoration: none;

  background: linear-gradient(135deg, #ba32d0 0%, #32a1d0 100%);
  backdrop-filter: blur(16px);
  border-radius: 5px;
}

.main-button:hover {
  box-shadow: 0 0 5px #ba32d0, 0 0 5px #32a1d0;
}

.main-text {
  margin-bottom: 0.5rem;

  font-size: 2rem;
  text-align: center;

  background: linear-gradient(90deg, rgb(230 230 230 / 24%) 0%, #e6e6e6 50%, rgb(230 230 230 / 24%) 100%);
  background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;
}

.secondary-text {
  font-size: 1rem;
  color: white;
  text-align: center;
}

.main-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo {
  opacity: 0.7;
}

input[type="text"],
 input[type="password"] {
  height: 1.8rem;

  color: #eee;
  text-align: center;
  letter-spacing: 0.08em;

  opacity: 0.8;
  background-color: #141414;
  border: solid 2px;
  border-color: #ba32d0 #bd57d1 #32a1d0 #46acd8;
  border-radius: 5px;
}

input[type="text"] {
  font-family: "Mona Sans", sans-serif;
}

input::placeholder {
  font-size: 0.75rem;
  color: #eee;
  opacity: 0.5;
}

input:hover {
  box-shadow: 0 0 3px #ba32d0, 0 0 3px #32a1d0;
}

input[type="password"] {
  font-family: Verdana;
  letter-spacing: 0.3em;
}

.forgot-password {
  position: absolute;
  bottom: 0;

  font-size: small;
  font-style: italic;
  color: #eee;
  text-align: center;
  letter-spacing: 0.05em;

  opacity: 0.9;
}

button {
  height: 2rem;
  margin-top: 1rem;
  padding: 0.5rem 1rem;

  font-family: "Mona Sans", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: black;
  text-decoration: none;

  background: linear-gradient(135deg, #ba32d0 0%, #32a1d0 100%);
  backdrop-filter: blur(16px);
  border: none;
  border-radius: 5px;
}

button:hover {
  box-shadow: 0 0 5px #ba32d0, 0 0 5px #32a1d0;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;

  font-size: large;
}
